.container{
    display: flex;
    height: 600px;
    width: 1500px;
    background-color: aqua;
    border: 1px solid black;
    /* flex-direction: row-reverse; */
    flex-wrap:wrap ;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px 50px;
}
.item{
    height: 100px;
    width: 300px;
    border: 1px solid black;
    background-color: chocolate;
    flex-grow: 1;
}
.item2{
    order: -1;
    flex-grow: 2;
    align-self: flex-end;
    
}